.cartpage {
  position: absolute;
  z-index: 2;
  top: 23%;
  left: 81%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  width: 270px;
  height: 170px;
  border-radius: 8px;
}
.cart-head {
  font-size: 0.8rem;
  font-weight: 700;
  width: 94%;
  padding-bottom: 7px;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-left: 15px;
}
.cart-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart-body span {
  display: flex;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 60px;
  margin-left: 60px;
}
.amount-check img {
  width: 50px;
  height: auto;
  border-radius: 5px;
}
.amount {
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
}
.amount-check-text {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  margin-top: 5px;
  color: #999999;
}
.amount-check-text div {
  display: flex;
}
.total {
  color: black;
}
.amount-check {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.amount-check-text span {
  width: 100%;
  margin: 0;
}
.checkout {
  background-color: #ff7d1b;
  text-align: center;
  padding: 12px;
  margin: 12px;
  margin-top: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}
.checkout:hover,
.delete:hover {
  cursor: pointer;
}
