.head {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 2px solid #eeeeee;
}
.firsthead {
  display: flex;
  width: 42%;
  justify-content: space-between;
  height: 20px;
}
.firsthead ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.firsthead img {
  width: 110px;
  height: 17px;
}
.firsthead li {
  margin-right: 25px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #777777;
  height: 59px;
}
.firsthead li:hover {
  cursor: pointer;
  border-bottom: 3px solid #ff7d1b;
}
.secondhead {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 9%;
}
.rasta {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cart {
  padding-top: 10px;
  width: 20px;
  height: 20px;
}
.cart:hover {
  cursor: pointer;
}
.rasta:hover {
  cursor: pointer;
  border: 3px solid #ff7d1b;
}
