.head {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 2px solid #eeeeee;
}
.first-head {
  display: flex;
  width: 42%;
  justify-content: space-between;
  height: 20px;
}
.first-head ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.first-head img {
  width: 110px;
  height: 17px;
}
.first-head li {
  margin-right: 25px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #777777;
  height: 59px;
}
.first-head li:hover {
  cursor: pointer;
  border-bottom: 3px solid #ff7d1b;
}
.second-head {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 7%;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cart-icon {
  padding-top: 10px;
  width: 20px;
  height: 20px;
}
.cart-icon:hover {
  cursor: pointer;
}
.avatar:hover {
  cursor: pointer;
  border: 3px solid #ff7d1b;
}
