.overlay {
  width: 20%;
  display: flex;
  position: absolute;
  padding: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.product-images {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.prevnext {
  display: flex;
  align-items: center;
  margin-left: -5px;
}
.navigate {
  background-color: white;
  padding: 10px;
  border-radius: 90%;
  height: 15px;
  width: 15px;
  z-index: 5;
  margin: -15px;
}
.navigate:hover,
.close:hover {
  cursor: pointer;
  background-color: #ff7d1b;
}
.close {
  z-index: 5;
  margin-top: -320px;
  width: 20px;
  height: 20px;
  margin-left: 290px;
  padding: 10px;
  border-radius: 90%;
}
