.overlay {
  width: 100vw; 
  display: flex;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.overlay-images {
  width: 45%;
  height: 35%;
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.prevnext {
  display: flex;
  align-items: center;
  margin-left: -5px;
}
.navigate {
  background-color: white;
  padding: 10px;
  border-radius: 90%;
  height: 15px;
  width: 15px;
  z-index: 5;
  margin: -15px;
}
.close {
  z-index: 5;
  margin-top: 40px;
  width: 20px;
  height: 20px;
  margin-left: 950px;
  padding: 10px;
  border-radius: 90%;
  background-color: white;
}
.overlay-image:hover {
  cursor: auto;
}
.navigate:hover,
.close:hover {
  cursor: pointer;
  background-color: #ff7d1b;
}
