.product {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 30px;
}
.product-images {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.display-image {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.thumbnail img {
  width: 20%;
  border-radius: 5px;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.product-text {
  width: 45%;
  padding-right: 50px;
}
.main-text {
  margin-top: 40px;
}
.main-text h5 {
  color: #ff7d1b;
}
.main-text h1 {
  font-size: 2.4rem;
  padding-left: 2px;
}
.main-text p {
  color: #888888;
  font-size: 0.9rem;
  line-height: 1.7;
}
.dollars {
  display: flex;
  margin-top: -14px;
}
.dollars span {
  font-size: 0.8rem;
  background-color: rgb(236, 225, 206);
  margin-top: 25px;
  margin-left: 10px;
  height: 20px;
  padding: 2px;
  color: #ff7d1b;
  font-weight: 700;
  border-radius: 5px;
}
