.product {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 30px;
}
.product-images {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.display-image {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.thumbnail img {
  width: 20%;
  border-radius: 5px;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.product-text {
  width: 50%;
}
