.product {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 30px;
}
.product-images {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.display-image {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.thumbnail img {
  width: 20%;
  border-radius: 5px;
}
.thumbnail {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.product-text {
  width: 45%;
  padding-right: 50px;
}
.main-text {
  margin-top: 40px;
}
.main-text h5 {
  color: #ff7d1b;
}
.main-text h1 {
  font-size: 2.4rem;
  padding-left: 2px;
}
.main-text p {
  color: #888888;
  font-size: 0.9rem;
  line-height: 1.7;
}
.dollars {
  display: flex;
  margin-top: -15px;
  margin-bottom: -20px;
}
.dollars span {
  font-size: 0.8rem;
  background-color: rgb(236, 225, 206);
  margin-top: 25px;
  margin-left: 10px;
  height: 20px;
  padding: 2px;
  color: #ff7d1b;
  font-weight: 700;
  border-radius: 5px;
}
.old-price {
  color: #aaaaaa;
  text-decoration: line-through;
  font-size: 0.9rem;
  font-weight: 600;
}
.action {
  width: 60%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus-minus {
  background-color: #eeeeee;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}
.addcart {
  background-color: #ff7d1b;
  width: 50%;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  display: flex;
  font-weight: 600;
}
.addcart span {
  margin-left: 50px;
}
.addcart:hover{
  background-color: #eeeeee;
  color:#ff7d1b;
  cursor: pointer;
}
.plus-minus img:hover{
  cursor: pointer;
}
.display{
  cursor: pointer;
}